<form uk-textarea>
    <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <p>Project Title: {{title}}</p>
        </div>
    </div>
    <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <p>Project Background : {{background}}</p>
        </div>
        <input type="hidden" value="{{id}}" name="id"/>
    </div>
</form>
{{> error }}



