<div class="uk-width-expand@m">
    <p>Lean manufacturing (also known as lean production, just-in-time manufacturing and just-in-time production, or JIT) is a production method aimed primarily at reducing times within the production system as well as response times from suppliers and to customers.
        It is derived from Toyota's 1930 operating model "The Toyota Way" (Toyota Production System, TPS). The term "Lean" was coined in 1988 by John Krafcik, and defined in 1996 by James Womack and Daniel Jones to consist of five key principles: "Precisely specify value by specific product, identify the value stream for each product, make value flow without interruptions, let customer pull value from the producer, and pursue perfection."
        Companies employ the strategy to increase efficiency. By receiving goods only as they need them for the production process, it reduces inventory costs and wastage, and increases productivity and profit. The downside is that it requires producers to forecast demand accurately as the benefits can be nullified by minor delays in the supply chain. It may also impact negatively on workers due to added stress and inflexible conditions.
        A successful operation depends on a company having regular outputs, high-quality processes, and reliable suppliers.
        The strategic elements of lean can be quite complex, and comprise multiple elements. Four different notions of lean have been identified:</p>
</div>
<div class="uk-width-expand@m">
    <ul>
        <li>Lean as a fixed state or goal (being lean)</li>
        <li>Lean as a continuous change process (becoming lean)</li>
        <li>Lean as a set of tools or methods (doing lean/toolbox lean)</li>
        <li>Lean as a philosophy (lean thinking)</li>
    </ul>
</div>
<div class="uk-width-expand@m">
    <h2>Implementation</h2>
    <p>One paper suggests that an organization implementing Lean needs its own Lean plan as developed by the "Lean Leadership".
        This should enable Lean teams to provide suggestions for their managers who then makes the actual decisions about what to implement.
        Coaching is recommended when an organization starts off with Lean to impart knowledge and skills to shop-floor staff.
        Improvement metrics are required for informed decision-making.

        Lean philosophy and culture is as important as tools and methodologies.
        Management should not decide on solutions without understanding the true problem by consulting shop floor personnel</p>
</div>