<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="A3" subTitle="Download an A3"}}
</div>

<nav class="uk-navbar-container" uk-navbar="dropbar: true; dropbar-mode: push">...</nav>
<div class="uk-navbar-dropbar">
  {{> navigation }}
</div>


<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-auto@m">

  <h1>The A3 Process</h1>
  <p>The A3 methodology is a lean thinking process where the problem owner should go through the model's different steps until there is a proper solution to be implemented. The owner needs to communicate actively with his colleagues and the mentor of the project.

    Let’s now examine the different steps that comprise the A3 process.

  <h2>Background</h2>
    First of all, you need to clarify the problem and briefly describe it. This is a starting point where the owner can add context and support the next steps.

  <h2>Current situation</h2>
    Before a problem can be addressed properly, the problem owner needs to describe the current situation in the area where the issue appears.

    At this stage, you can map the different processes that exist around the problem area. It will allow you to see the bigger picture and identify the root cause.

  <h2>Set targets/goals</h2>
    After the current situation is clear, you need to set goals. Keep in mind that at this stage, you need to take into consideration that you don’t have the full picture.

    So after you go through the remaining steps until “effect confirmation,” you can come back to this step and add more details to the initial goals.

  <h2>Root cause analysis</h2>
    This is a significant step from the successful implementation of the A3 process. Trying to fight the problem immediately means that you are only treating the symptoms while leaving the root cause untouched. This way, a problem may appear regularly in bigger proportions.

    Therefore, once you have a good understanding of how the processes work and the initial goal, you need to figure out the root cause of the problem. For this purpose, you can use different techniques such as the 5 whys.

  <h2>Countermeasures</h2>
    Once you are familiar with the root cause, you may start offering solutions. From here, you can go back to the initial goal and add more details. In all cases, the countermeasures should lead to a clear understanding of how the initial goal will be achieved.

  <h2>Implementation Plan</h2>
    After setting the countermeasures, you have to present an implementation plan that includes a list of the actions that will be applied to get the countermeasures in place. It is also helpful to assign responsible individuals for each task and a due date.

      <h2>Effect confirmation & Follow-up</h2>
    The last step is crucial for establishing a culture of continuous improvement. It is imperative to measure the actual results and confirm the effect of your countermeasures.

    Whether there are positive or negative results, you need to take action.

    If the actual results differ from the predicted ones, you should modify the plan, re-implement it, and follow-up.

    If there is a positive effect, you should communicate improvements to the rest of the organization and ultimately make them a standard.

      <br><br><br><br><br>
      <div>
        <h1>Download an A3 </h1>

        <a href="files/A3.xlsx" download="filename">A3.docx</a>

      </div>
  </p>
</div>
  </div>
</div>



