<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Add a Project" subTitle="Projects"}}
</div>
<nav class="uk-navbar-container" uk-navbar="dropbar: true; dropbar-mode: push">...</nav>
<div class="uk-navbar-dropbar">
    {{> navigation }}
</div>

<div class="uk-container-xlarge">
    <div class="uk-child-width-expand" uk-grid>
        <div class="uk-width-expand">{{> formTest}}</div>
    </div>
</div>