<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Home" subTitle="View or add a Project"}}
    {{> main-menu }}
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>

        <div class="uk-width-expand@m">{{> project}}</div>
    </div>
</div>