<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Dashboard" subTitle="View Project Data"}}
</div>

<nav class="uk-navbar-container" uk-navbar="dropbar: true; dropbar-mode: push">...</nav>
<div class="uk-navbar-dropbar">
    {{> navigation }}
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-auto@m">
            <h1 class="uk-heading-small">Project Data</h1>
        </div>
    </div>
</div>

<div class="uk-width-auto@m">
    <iframe title="PowerBI Dashboard - Home" width="1600" height="900" src="https://app.powerbi.com/reportEmbed?reportId=83f9cadd-3d47-4bd1-bc4c-2638cd9ab704&autoAuth=true&ctid=709b3d4a-d78d-4b31-ba2a-9157edc062fb&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1xLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
</div>