<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Dashboard" subTitle="View Project Data"}}
</div>

<nav class="uk-navbar-container" uk-navbar="dropbar: true; dropbar-mode: push">...</nav>
<div class="uk-navbar-dropbar">
    {{> navigation }}
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-auto@m">
            <h1 class="uk-heading-small">Project Data</h1>
        </div>
    </div>
</div>

<div class="uk-width-auto@m">
  <iframe title="PowerBI Dashboard - Home" width="1600" height="900" src="https://app.powerbi.com/reportEmbed?reportId=f161db7b-5af1-4214-9d6d-7a6fdacd8d9d&autoAuth=true&ctid=b8b437b8-eda2-4e59-99a2-214c4401dfdf&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
</div>
