<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Impact Matrix" subTitle="Download an Matrix"}}
</div>

<nav class="uk-navbar-container" uk-navbar="dropbar: true; dropbar-mode: push">...</nav>
<div class="uk-navbar-dropbar">
  {{> navigation }}
</div>


<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-auto@m">



      <h1>Impact Matrix</h1>
      <br>
      <img width="50%" src="images/impactMatrix.jpg" /><br>

      The impact effort matrix is a simple tool used by businesses to set priorities and determine the ideas, strategies and projects that will provide the best solutions for the challenges they face. It’s an excellent tool to use when facing multiple options for solutions to a specific issue.

      The matrix provides a visual diagram that allows for plotting the potential work involved with every solution and the expected benefit. It’s a way of determining the return on investment in a straightforward, efficient way.

      <h2>Creating the Impact Effort Matrix</h2>
      Creating an impact effort matrix involves bringing together the team involved with addressing whatever challenge a company is trying to overcome. They first share ideas for solving the problem, writing these potential solutions on a Post-It note. They then place those notes on a diagram. The diagram consists of a vertical line and a horizontal line that meet in the lower left-hard corner. They then draw a four-quadrant grid in the area outlined by the two lines.

      The team plots the amount of effort required to complete the solution along the horizontal access. They plot the amount of projected benefit along the vertical access. Finally, they place the ideas in the grid quadrant that matches the expected work required and the expected benefits.

      <h2>Ways to Think About the Four Quadrants</h2>
      Putting potential solutions in the correct quadrant requires honest debate among team members and accurate data on the potential benefits of each specific solution under consideration. The following provides some guidance on how to view solutions placed in each quadrant.

      <b>Upper left:</b> These represent the best solutions – low effort and high reward. The team should place the highest priority on ideas in this quadrant.

      <b>Upper right:</b> These are great solutions, but they require a higher level of effort. Teams should only pursue these solutions if the business is fully committed to sticking with completing the hard work involved over the long haul.

      <b>Lower left:</b> While these solutions take little effort, they should only get attention once more rewarding solutions are addressed.

      <b>Lower right:</b> Solutions that fall in those grid quadrants should not become priorities. Teams should instead determine whether they are worth doing at all

      <br><br><br><br><br>
      <div>
        <h1>Download an Impact Matrix </h1>

        <a href="files/impactMatrix.xlsx" download="filename">ImpactMatrix.docx</a>

      </div>
      </p>
    </div>
  </div>
</div>



